<header class="header">
    
    <div class="logo">
        <img class="logo_img" src="./assets/images/logo.png" alt="Bienvenido a Airbnb">
    </div>
    
    <nav class="menu">
        <ul class="menu_list">
            <li class="menu_item">
                <a class="menu_link" href="#" title="buscar">Buscar</a>
            </li>
            <li class="menu_item">
                <a class="menu_link" href="#" title="registrate">Regístrate</a>
            </li>
            <li class="menu_item">
                <a class="menu_link" href="#" title="hazte anfitrion">Hazte anfitrión</a>
            </li>
        </ul>
    </nav>
</header>
