<main class="main">
    
    <ul class="cities">
        <partial src="_city.html" cityName="Tokio" price="150" cityClass="tokio wide"></partial>
        <partial src="_city.html" cityName="London!!!" price="200" cityClass="london"></partial>
        <partial src="_city.html" cityName="Paris" price="180" cityClass="paris"></partial>
        <partial src="_city.html" cityName="Tokio" price="150" cityClass="tokio"></partial>
        <partial src="_city.html" cityName="London!!!" price="200" cityClass="london tall"></partial>
        <partial src="_city.html" cityName="Paris" price="180" cityClass="paris"></partial>
        <partial src="_city.html" cityName="Tokio" price="150" cityClass="tokio"></partial>
    </ul>
    
</main>
